[

    {lager, [
        {handlers, [
            {lager_console_backend, [debug, true]},
            {lager_file_backend, [
                {"console.log", info, 10485760, "$D0", 5}
            ]}
        ]}
    ]},
    
    {websinema, [
        
        {websinema_aggregator, [
            {verbose, info},
            {manager_dir, "manager"},
            {manager_config, [
                {address, [0, 0, 0, 0]},
                {port, 7680}
            ]},
            {mibs, [
                {otp_mibs, "OTP-REG"}, 
                {otp_mibs, "OTP-TC"}, 
                {otp_mibs, "OTP-MIB"},
                {os_mon, "OTP-OS-MON-MIB"} 
            ]},
            {agents, [
                %% {"name", {"address.com", 161, "community"}}
            ]}
        ]}
        
    ]}
  
].
