%% Rebar configuration directives.

{cover_enabled, false}.
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
    {cowboy,  ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {lager,   ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {json,    ".*", {git, "git://github.com/davisp/eep0018.git", "master"}}
]}.

{lib_dirs, ["deps"]}.
